<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="static/main.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"
    ></script>
  </head>
  <body>
    <div class="main">
      <div class="main_div">
        <h1 class="question_text">{{question.title}}</h1>
        <div class="body_wrapper">
          {% if question.img_url != "" %}
          <div class="img_wrapper_top">
            <img src="{{question.img_url}}" />
          </div>
          {% endif %}
          <div class="question_wrapper" id="qu">
            <div class="ans_wrapper selected-{{question.answers[0].selected}}">
              <div class="letter selectedL-{{question.answers[0].selected}}">
                A
              </div>
              <div class="text_wrapper">
                <h4 class="answer">{{question.answers[0].text}}</h4>
              </div>
              <div class="ans_circle"></div>
            </div>
            <div class="ans_wrapper selected-{{question.answers[1].selected}}">
              <div class="letter selectedL-{{question.answers[1].selected}}">
                B
              </div>
              <div class="text_wrapper">
                <h4 class="answer">{{question.answers[1].text}}</h4>
              </div>
              <div class="ans_circle"></div>
            </div>
            <div class="ans_wrapper selected-{{question.answers[2].selected}}">
              <div class="letter selectedL-{{question.answers[2].selected}}">
                C
              </div>
              <div class="text_wrapper">
                <h4 class="answer">{{question.answers[2].text}}</h4>
              </div>
              <div class="ans_circle"></div>
            </div>
          </div>
          {% if question.img_url != "" %}
          <div class="img_wrapper_bottom">
            <img src="{{question.img_url}}" />
          </div>
          {% endif %}
        </div>

        <div id="incorect">Gresit!</div>
        <div id="corect">Corect!</div>
      </div>
    </div>
    <div class="btn-wrapper">
      <div
        class="btn-w"
        style="background-color: white; border: 1px solid rgb(199, 201, 215)"
        id="next"
      >
        <img src="static/circle-arrow-right-solid.svg" />
        <span>Următoarea Intrebare</span>
      </div>
      <div class="btn-w" id="send" style="background-color: rgb(89, 179, 89)">
        <img src="static/circle-check-solid.svg" />
        <span style="color: white">Trimite răspunsul</span>
      </div>
    </div>

    <script>
      answers = document.getElementsByClassName("ans_wrapper");
      for (let i = 0; i < 3; i++) {
        answers[i].addEventListener("click", () => {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/select", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(
            JSON.stringify({
              id: i,
            })
          );
        });
      }
      setInterval(() => {

        fetch("/data_json")
          .then((r) => r.json())
          .then((r) => {
            data = {{ question | tojson }}
            // if (data.title != r.title)
            //   location.reload()
            console.log(r)
            if (r.incorect){
              document.getElementById("incorect").style.display = "block";
              console.log("test")
            }
            if (r.corect)
              document.getElementById("corect").style.display = "block";
            if (r.img_url == "")
              document.getElementById("qu").classList.remove("question_wrapper")
            else
              document.getElementById("qu").classList.add("question_wrapper")
            ANS = document.getElementsByClassName("ans_wrapper");
            LET = document.getElementsByClassName("letter")
            selected = false
            disable = r.disabled ? true : false
            for (let i = 0; i < 3; i++) {
              if (r.answers[i].selected){
                 ANS[i].classList.add("selected-True");
                 LET[i].classList.add("selectedL-True");
                 selected = true
                }
              else {
                ANS[i].classList.remove("selected-True")
                LET[i].classList.remove("selectedL-True")
              };
            }
            if (selected)
              document.getElementById("send").classList.remove("low_opac")
            else
              document.getElementById("send").classList.add("low_opac")
            if (disable)
            {
              document.getElementById("send").classList.add("low_opac")
              document.getElementById("next").classList.remove("low_opac")
              Letters = document.getElementsByClassName("letter");
              console.log(r.answers)
              for (let i = 0;i < 3;i++)
              {
                if (r.answers[i].correct == "1")
                  Letters[i].style.color = "rgb(73, 217, 29)";
                else
                  Letters[i].style.color = "rgb(217, 58, 58)";
              }
            }
            else
               document.getElementById("next").classList.add("low_opac")
          });
      }, 450);

      document.getElementById("send").addEventListener("click", () => {
        ANS = document.getElementsByClassName("answer");
        js = [];
        console.log(ANS);
        for (let i = 0; i < 3; i++) {
          console.log(ANS[i].classList);
          js.push(ANS[i].classList.contains("selected-True"));
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/check_ans", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({}));
      });

      document.getElementById("next").addEventListener("click", () => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/next", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({}));
      });
    </script>
  </body>
</html>
