<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='main.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='index.css') }}"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <h1 class="title">Chestionare Auto Categoria B</h1>
    <form class="buttons" action="/" method="post">
      {% if error %}
      <div class="join_error">{{error}}</div>
      {% endif %}

      <div class="main-btn" id="join">Join Room</div>
      <button class="main-btn" type="submit" value="0" name="join">
        Create Room
      </button>
    </form>
    <div class="pop-up" id="pop-up">
      <form class="pop-up-body" action="/" method="post">
        <input
          type="text"
          placeholder="Room Code"
          id="room_code"
          name="room_code"
        />
        <button
          class="main-btn"
          style="margin: 0"
          id="join1"
          type="submit"
          name="join"
          value="1"
        >
          Join Room
        </button>
      </form>
    </div>
  </body>
  <script>
    pop_up = document.getElementById("pop-up");
    pop_up.addEventListener("click", (element) => {
      if (element.target === pop_up) pop_up.style.display = "none";
    });
    document.getElementById("join").addEventListener("click", () => {
      pop_up.style.display = "flex";
    });
    document.getElementById("join1").addEventListener("click", () => {
      code = document.getElementById("room_code");
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/room_join", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(
        JSON.stringify({
          code: code.value,
        })
      );
    });
  </script>
</html>
