<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{{ url_for('static', filename='main.css') }}"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"
    ></script>
  </head>
  <body>
    <div class="main">
      <div class="main_div">
        <h1 class="question_text">{{question.title}}</h1>
        <div class="body_wrapper">
          {% if question.img_url != "" %}
          <div class="img_wrapper_top">
            <img src="{{question.img_url}}" />
          </div>
          {% endif %}
          <div class="question_wrapper" id="qu" room_code="{{question.code}}">
            <div
              class="ans_wrapper selected-{{question.answers[0].selected}}"
              ans_id="{{question.answers[0].id}}"
            >
              <div class="letter selectedL-{{question.answers[0].selected}}">
                A
              </div>
              <div class="text_wrapper">
                <h4 class="answer">{{question.answers[0].text}}</h4>
              </div>
              <div class="ans_circle"></div>
            </div>
            <div
              class="ans_wrapper selected-{{question.answers[1].selected}}"
              ans_id="{{question.answers[1].id}}"
            >
              <div class="letter selectedL-{{question.answers[1].selected}}">
                B
              </div>
              <div class="text_wrapper">
                <h4 class="answer">{{question.answers[1].text}}</h4>
              </div>
              <div class="ans_circle"></div>
            </div>
            <div
              class="ans_wrapper selected-{{question.answers[2].selected}}"
              ans_id="{{question.answers[2].id}}"
            >
              <div class="letter selectedL-{{question.answers[2].selected}}">
                C
              </div>
              <div class="text_wrapper">
                <h4 class="answer">{{question.answers[2].text}}</h4>
              </div>
              <div class="ans_circle"></div>
            </div>
          </div>
          {% if question.img_url != "" %}
          <div class="img_wrapper_bottom">
            <img src="{{question.img_url}}" />
          </div>
          {% endif %}
        </div>

        <div id="incorect">Gresit!</div>
        <div id="corect">Corect!</div>
      </div>
    </div>
    <div class="btn-wrapper">
      <div
        class="btn-w"
        style="background-color: white; border: 1px solid rgb(199, 201, 215)"
        id="next"
      >
        <img
          src="{{ url_for('static', filename='circle-arrow-right-solid.svg') }}"
        />
        <span>Următoarea Intrebare</span>
      </div>
      <div class="btn-w" id="send" style="background-color: rgb(89, 179, 89)">
        <img src="{{ url_for('static', filename='circle-check-solid.svg') }}" />
        <span style="color: white">Trimite răspunsul</span>
      </div>
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script>
      data = {{ question | tojson }}
      interval_function(data)
      setInterval(() => {
        interval_function(data);
      }, 250);
    </script>
  </body>
</html>
